# Length,String Handling and Data Slicing in Python

## length

In [3]:
a = "Aakash Raj"

print('a length is', len(a)) # find the length of the variable

a length is 10

In [4]:
b='AakashRaj'

print('b length is',len(b))   #while considering the length even space is considered.

b length is 9

### String handling

In [10]:
# Replace the pattern
a.replace('a','A')

'AAkAsh RAj'

In [11]:
# Convert the string into upper case
a.upper()

'AAKASH RAJ'

In [12]:
# Convert the string into lower case
a.lower()

'aakash raj'

In [13]:
# Convert the string first letter as capital
a.title()

'Aakash Raj'

### Data Slicing

a[start:end:step size]

In [17]:
a = "Aakash Raj"

In [5]:
# get only the first element as the index starts at 0
a[0]

'A'

In [6]:
# Display all the letters in the variable
a[:]

'Aakash Raj'

In [7]:
# Display all the letters in the variable, len(a) - give the total length of the variable
a[:len(a)]

'Aakash Raj'

In [8]:
# display first 3 letters alone
a[:3]

'Aak'

In [9]:
# display first 3 letters alone by specifing the start and end
# index starts from 0 and end position is always n-1
a[0:3]

'Aak'

In [10]:
# display from 3rd letter till last
a[2:]

'kash Raj'

In [11]:
# display from 3rd letter till 10th letter
a[2:11]

'kash Raj'

In [20]:
# display from 2nd letter till last but before
a[1:]

'akash Raj'

In [13]:
#reverse the string
a[::-1]

'jaR hsakaA'

In [14]:
#reverse the string and ignore last 3 letters
a[::-1][:-3]

'jaR hsa'